header{
        width: 100%; 
        position: static;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
}

#tablero{
    display: flex;
    justify-content: center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
