header{
    background-color: #8e9aaf;
}

body{
    background: #efd3d7;
}

.cajaHeader{
    width: 100%;
    position: relative;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cajaHeader h1{
    font-size:xx-large;
}

main{
    min-height: 83vh; 
}

.cajaPrincipalindex{
    width: auto;
    min-height: 100vh;
    margin: 0px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.titulo{
    text-align: center;
    grid-column: 2/6;
    align-items: center;
    margin-bottom: 3px;
}
.titulo h1{
    font-size: 70px;
    margin-top: 7%;
}

.titulo h3{
    margin-top: 30px;
    font-size: 40px;
}

.menu{
    box-sizing:border-box;
    width: 100%;
    grid-column: 3/5;
    grid-row: 2/3;
    background: #cbc0d3 ;
    border-radius: 50px;
    margin-top: 30px;
}

.tituloItemMenu{
    text-align: center;
    font-size: xx-large;
    padding-bottom: 5px;
}

#itemMenu{
    font-size: x-large;
    padding: 5px;
    margin: 5px;
    text-align: center;
    align-content: center;
}

.boton{
    width: 75%;
    font-size: x-large;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border-style: none;
    background-color: #8e9aaf;
}

input:hover, input:active{
    background-color: #d75a77;
}

.formRegresar{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.formRegresar a{
    text-decoration: none;
}

.formRegresar input{
    font-size: x-large;
    padding: 5px 20px;
    border-style: none;
    border-radius: 20px;
}

footer{
    background-color: #8e9aaf;
}

.cajaFooter{
    width: auto;
    position: relative;
    margin: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
