.instrucciones{ 
    padding: 25px;
    font-size: x-large;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
}

.parrafos{
    margin-bottom: 15px;
}

.parrafos:last-child{
    text-align: center;
}


